@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html{
	overflow-x: hidden;
}
body{
	font-family: 'Dancing Script';
	font-size: 2em;
	line-height: 1.5;
	scroll-behavior: smooth;
}

/*home---------------------------------------*/
.navbar-light .navbar-brand{
	color: #F2D479;
	font-size: 1.5em;
}
#logoHome{
	background-image: url("../images/plume.png");
	width: 250px;
	height: 120px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 6rem;
	margin-left: 3rem;

}
#RDV span:before{
	content: "";
	background-image: url("../images/logos/call.png");
	background-size: contain;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	display: block;
	background-repeat: no-repeat;
}
#calendrier{
	background-image: url("../images/logos/calendrier.png");
	background-size: contain;
	width: 25px;
	height: 25px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	background-repeat: no-repeat;
	margin-top: 2rem;
}
#RDV span{
	display: flex;
	font-family: 'Montserrat';
	font-size: 0.8em;
	margin-top: 0.5rem;
	margin-left: 27px;
}
#RDV h4{
	text-transform: capitalize;
}
#RDV button{
	margin-top: 10px;
	border: 1px solid #A61B5B;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #a61b5b7a;

}
#RDV button a:hover{
	color: white;
}
#RDV button a {
	text-decoration: none;
    color: black;
    
}

.presentationHome{
	background-color: #D9B5896B;
    height: 250px;
}
#RDV > span + hr{
	margin-bottom: 0;
	margin-top: 15px;
}
#enTete{
	position: absolute;
	left: 27%;
	top: 10%;
}
.carousel-inner{
	height: 450px;
}
.carousel-inner img{
	height: 100%;
}
#RDV{
	position: absolute;
    left: 78%;
    top: 4%;
    background-color: #F23DA01C;
    border-radius: 7px;
    height: 35%;
    text-align: center;
}
#contain{
	display: flex;
	margin-top: 5rem;
	margin-bottom: 5rem;
	-webkit-box-shadow: 9px 11px 16px -1px rgba(224,221,224,0.9);
	-moz-box-shadow: 9px 11px 16px -1px rgba(224,221,224,0.9);
	box-shadow: 9px 11px 16px -1px rgba(224,221,224,0.9);
	padding: 20px 10px 20px 10px;
}
#footer{
	background-color: #bf045bab;
}
#present{
	background-image: url("../images/marilo.jpg");
	background-size: cover;
	height: 250px;
	background-repeat: no-repeat;
	width: 250px;
	background-position: center;
	border-radius: 50%;
}
.contain2{
	width: 50%;
}
.flex{
	display: flex;
}
#placeHolder{
	height: 250px;
}

#logoInsta{
	background-image: url("../images/logos/rose-instagram.png");
	background-size: contain;
	width: 25px;
    height: 25px;
    margin-top: 7px;



}
#logoFb{
	background-image: url("../images/logos/beige-facebook.png");
	background-size: contain;
	width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 7px;
}
.footer-contain{
	display: flex;
	
}
.footer-contain span{
	font-size: 2em;
	margin-right: 10px;
	margin-left: 50px;
}
.map-contain{
	margin-bottom: 3rem;
	margin-top: 3rem;
}
.footer-contact{
	display: flex;
	flex-direction: column;
}
.footer-contact h5{
	font-size: 1em;
}
#footer .row{
	padding-top: 2rem;
}
.footer-contact h5{
	display: flex;
}
.footer-contact h5:before{
	content: "";
	background-image: url("../images/logos/call.png");
	background-size: contain;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	display: block;
	background-repeat: no-repeat;
}
.footer-cabinet h5{
	font-size: 1em;
}
.footer-cabinet{
	display: flex;
	flex-direction: column;
}
.footer-cabinet h5{
	display: flex;
}
.footer-cabinet h5:before{
	content: "";
	background-image: url("../images/logos/house.png");
	background-size: contain;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	display: block;
	background-repeat: no-repeat;
}

/*-----carousel------*/
.carousel-caption{
	position: absolute;
	top: 30%;
	left: 20%;
}
.carousel-caption h3{
	font-size: 4em;
	text-transform: capitalize;
	animation-name: text-anim;
	animation-duration: 4s;
}
.carousel-inner{
	position: relative;
}

/*------home-----*/
.contain2 h1{
	color: #962A4E;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
}
.contain2 p{
	font-size: 0.5em;
	font-family: 'Montserrat';
}

@-webkit-keyframes text-anim {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-anim  {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.article{
	height: 50%;
}
.article img{
	width: 100%;
	height: 100%;
	transition-duration: 3s;

}
.article > div{
	overflow: hidden;
}
.article img:hover{
	transform : scale(1.5);
}
.caption{
	font-family: 'Montserrat';
}
.caption a{
	color: #F23DA0;
	font-family: 'Dancing Script';
	font-weight: bold;
	border: none;
}
/*-----Formulaire de contact --------*/

.contact{
	margin-top: 3rem;
	background-color: #D6BC9A;
	padding-top: 1rem;
}

.form-control:focus{
	color: #495057;
	background-color: #fff;
	border-color: #D6BC9A;
	box-shadow: 0 0 0 .2rem rgb(214, 188, 154);
}
.contact-info h2:before{
	content: "";
	background-image: url("../images/logos/contact.png");
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 50px;
	margin-right: 10px;

}
.contact-info h2{
	display: flex;
}
/*------page Reiki-----------*/
#imgReiki{
	background-image: url("../images/lotus.png");
	width: 100%;
	height: 450px;
	background-position: center;
	
	background-size: cover;
}
.reikiPage h2{
	text-align: center;
	font-size: 3em;
	color: #BF7F30;
	position: absolute;
	top: 25%;
	left: 12%;
	animation-name: textEffet;
	animation-duration: 3s;
}
.reikiPage{
	position: relative;
}
.reikiPage p{
	margin-top: 2rem;
	text-align: left;
	font-family: 'Montserrat';
	font-size: 1em;
}

@-webkit-keyframes textEffet {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes textEffet {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}






