
 <!--   slider -->



<div ng-controller="MainCtrl">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div ng-class="{item : true,active:($first)}" ng-repeat="img in images">
        <img src="images/{{img.image}}" alt="{{img.image}}" width="100%" height="500px;">

        <div class="carousel-caption">
          <h3 class=" titre-carousel" >{{ img.titre }}</h3>
         
          
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container">
 <article>
      <secion id="presentation">
        <div class="container">

          <div id="contain">
            <div class="col-md-12 flex">
              <div class="contain2">
                <div id="present"></div>
              </div>
              <div class="contain2">
                <h1> Présentation</h1>
                <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
              </div>
            </div>

          </div>
        </div>


      </secion>



    </article>

    <div class="row ">
      <div class="col-sm-6 col-md-4 unArticle" ng-repeat="article in articles">
        <div class="thumbnail article">
          <div>
          <img src="images/{{article.img}}" alt="{{article.img}}">
        </div>
          <div class="caption">
            <h3> {{article.title}}</h3>
            <p>{{article.body}}</p>
            <p>
              <a href="#" class="btn btn-default" role="button">Voir plus</a></p>
          </div>
        </div>
      </div>
    </div>
</div>
  

