<section id="lesStages" class="container">
	<div>
		<h2> Les Stages </h2>
		<div ng-repeat="stage in stages">
			<div class="row stage" style= "display: flex; flex-direction: column;">
				<div class="col-md-2">
					<img ng-src="{{service.images}}">
				</div>
				<div class="col-md-10">
					<!--  on print le nom du service  -->
					<h3>{{service.name}}</h3>
					<!-- on print la description du service -->
					<p>{{service.description}}</p>
					<a href="contact.html" class="btn btn-primary">Contact </a>
				</div>
			</div>
		</div>

	</div>


</section>